@model EntitiesViewModel
    @{
        string strTitle = "Краудфандинг";
        ViewBag.Title = strTitle;
        int countOfCampaign = Model.Campaigns.Count();
    }
    <div class="page-header">
        <div class="col px-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1 class="text-white display-1">@strTitle</h1>
                    <h2 class="display-4 font-weight-normal text-white" style="font-size: 20px">Новый способ помогать хорошим идеям</h2>
                    <div class="btn-wrapper mt-4">
                        <a asp-controller="Account" asp-action="Begin" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                            <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                            <span class="btn-inner--text">Начать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div>
            <div id="tagcloud" style="width: 950px; height: 300px;"></div>
        </div>
    </center>
    <br />
    <br />
    <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3" style="color: white">Кампании с высоким рейтингом</h3>
        @{ int counter = 0; }
        @if (Model.Campaigns.Any())
        {
    @foreach (Campaign entity in Model.Campaigns)
    {
    @if (entity.AverageRating >= 90 && counter < 3)
    {
        counter++;
    <a href="/campaign/getcampaign/@entity.Id">
        <div class="card shadow" style="background-image: url(~/wwwroot/img/77.jpg); background-color: white">
            <img class="card-img-top" src="@entity.CoverPath" alt="Card image cap">
            <div class="card-body" style="">
                <div class="tab-content" id="myTabContent">
                    <div style="text-align: right">
                        @if (entity.AverageRating < 20.0) for (int i = 0; i < 5; i++)
                            {
                                <i class="fa fa-star"></i> }
                        else if (entity.AverageRating < 40.0)
                        { <i class="fa fa-star" style="color: #fb6340"></i> for (int i = 0; i < 4; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 60.0)
                        {
                            for (int i = 0; i < 2; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            for (int i = 0; i < 3; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 80.0)
                        {
                            for (int i = 0; i < 3; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            for (int i = 0; i < 2; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 100.0)
                        {
                            for (int i = 0; i < 4; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            <i class="fa fa-star"></i>
                        }
                        else if (entity.AverageRating == 100.0)
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i>}
                        }
                    </div>
                    <h1>@entity.Title</h1>
                    @{ string title = @Model.Subjects.Where(sub => sub.Id == @entity.ThemeId).Select(sub => sub.Title).First(); }
                    <h3 class="display-3" style="font-size:15px; color: #525f7f">@title</h3>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                        <p class="description">@entity.Subtitle</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div style="text-align: left">
                                @*<span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>*@
                            </div>
                            <div style="text-align: left; margin-top: 10px">
                                @{ var percent = (entity.TotalMoneyAmount / entity.RequiredMoneyAmount) * 100;
                                    percent = Math.Round(percent); }
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Средний рейтинг @entity.AverageRating</h3>
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Завершено на @percent%</h3>

                            </div>
                        </div>
                        <div class="col-lg-6 mt-5 mt-lg-0" style="">
                            <div style="text-align: right">
                                @*<span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>*@
                            </div>
                            <div style="text-align: right; margin-top: 10px">
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Дата окончания @entity.EndDate.Date</h3>
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Собрано @entity.TotalMoneyAmount/@entity.RequiredMoneyAmount у.е.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>}

                        <br />}}
        <div class="btn-wrapper mt-4">
            <a class="btn btn-warning btn-icon mt-3 mb-sm-0" href="/campaign/getallcampaignes">
                <span class="btn-inner--text">Просмотреть все</span>
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-8 mx-auto text-center">
        <h3 class="display-4" style="color: white">Успешные проекты</h3>
        @if (Model.Campaigns.Any())
        {
    @foreach (Campaign entity in Model.Campaigns)
    {
    @if (entity.TotalMoneyAmount >= entity.RequiredMoneyAmount)
    {
        counter++;
    <a href="/campaign/getcampaign/@entity.Id">
        <div class="card shadow" style="background-image: url(~/wwwroot/img/77.jpg); background-color: white">
            <img class="card-img-top" src="@entity.CoverPath" alt="Card image cap">
            <div class="card-body" style="">
                <div class="tab-content" id="myTabContent">
                    <div style="text-align: right">
                        @if (entity.AverageRating < 20.0) for (int i = 0; i < 5; i++)
                            {
                                <i class="fa fa-star"></i> }
                        else if (entity.AverageRating < 40.0)
                        { <i class="fa fa-star" style="color: #fb6340"></i> for (int i = 0; i < 4; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 60.0)
                        {
                            for (int i = 0; i < 2; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            for (int i = 0; i < 3; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 80.0)
                        {
                            for (int i = 0; i < 3; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            for (int i = 0; i < 2; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else if (entity.AverageRating < 100.0)
                        {
                            for (int i = 0; i < 4; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i> }
                            <i class="fa fa-star"></i>
                        }
                        else if (entity.AverageRating == 100.0)
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <i class="fa fa-star" style="color: #fb6340"></i>}
                        }
                    </div>
                    <h1>@entity.Title</h1>
                    @{ string title = @Model.Subjects.Where(sub => sub.Id == @entity.ThemeId).Select(sub => sub.Title).First(); }
                    <h3 class="display-3" style="font-size:15px; color: #525f7f">@title</h3>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                        <p class="description">@entity.Subtitle</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div style="text-align: left">
                                @*<span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>*@
                            </div>
                            <div style="text-align: left; margin-top: 10px">
                                @{ var percent = (entity.TotalMoneyAmount / entity.RequiredMoneyAmount) * 100;
                                    percent = Math.Round(percent); }
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Средний рейтинг @entity.AverageRating</h3>
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Завершено на @percent%</h3>

                            </div>
                        </div>
                        <div class="col-lg-6 mt-5 mt-lg-0" style="">
                            <div style="text-align: right">
                                @*<span class="badge badge-pill badge-default text-uppercase">Default</span>
                                <span class="badge badge-pill badge-default text-uppercase">Default</span>*@
                            </div>
                            <div style="text-align: right; margin-top: 10px">
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Дата окончания @entity.EndDate.Date</h3>
                                <h3 class="display-3" style="font-size:15px; color: #525f7f">Собрано @entity.TotalMoneyAmount/@entity.RequiredMoneyAmount у.е.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>}

                        <br />}}
    </div>

       